BiblioLecteur/Service References/ServiceReferenceBiblio/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceBiblio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/wcflibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceBiblio_Select_BiblioPrincipale_InputMessage">
    <wsdl:part name="parameters" element="tns:Select_BiblioPrincipale" />
  </wsdl:message>
  <wsdl:message name="IServiceBiblio_Select_BiblioPrincipale_OutputMessage">
    <wsdl:part name="parameters" element="tns:Select_BiblioPrincipaleResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBiblio_Select_BiblioPrincipaleAdo_InputMessage">
    <wsdl:part name="parameters" element="tns:Select_BiblioPrincipaleAdo" />
  </wsdl:message>
  <wsdl:message name="IServiceBiblio_Select_BiblioPrincipaleAdo_OutputMessage">
    <wsdl:part name="parameters" element="tns:Select_BiblioPrincipaleAdoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBiblio_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IServiceBiblio_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceBiblio">
    <wsdl:operation name="Select_BiblioPrincipale">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBiblio/Select_BiblioPrincipale" message="tns:IServiceBiblio_Select_BiblioPrincipale_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBiblio/Select_BiblioPrincipaleResponse" message="tns:IServiceBiblio_Select_BiblioPrincipale_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Select_BiblioPrincipaleAdo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBiblio/Select_BiblioPrincipaleAdo" message="tns:IServiceBiblio_Select_BiblioPrincipaleAdo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBiblio/Select_BiblioPrincipaleAdoResponse" message="tns:IServiceBiblio_Select_BiblioPrincipaleAdo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBiblio/GetAll" message="tns:IServiceBiblio_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBiblio/GetAllResponse" message="tns:IServiceBiblio_GetAll_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceBiblio" type="tns:IServiceBiblio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Select_BiblioPrincipale">
      <soap:operation soapAction="http://tempuri.org/IServiceBiblio/Select_BiblioPrincipale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select_BiblioPrincipaleAdo">
      <soap:operation soapAction="http://tempuri.org/IServiceBiblio/Select_BiblioPrincipaleAdo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IServiceBiblio/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceBiblio">
    <wsdl:port name="BasicHttpBinding_IServiceBiblio" binding="tns:BasicHttpBinding_IServiceBiblio">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/wcflibrary/ServiceBiblio/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>