BiblioLecteur/Service References/ServiceReferenceBiblio/wcflibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/wcflibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/wcflibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfclsBiblio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsBiblio" nillable="true" type="tns:clsBiblio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsBiblio" nillable="true" type="tns:ArrayOfclsBiblio" />
  <xs:complexType name="clsBiblio">
    <xs:sequence>
      <xs:element minOccurs="0" name="libellé" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBiblio" nillable="true" type="tns:clsBiblio" />
</xs:schema>