BiblioLecteur/Service References/ServiceReferenceReservations/wcflibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/wcflibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/wcflibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfclsGeneralReservation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsGeneralReservation" nillable="true" type="tns:clsGeneralReservation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsGeneralReservation" nillable="true" type="tns:ArrayOfclsGeneralReservation" />
  <xs:complexType name="clsGeneralReservation">
    <xs:sequence>
      <xs:element minOccurs="0" name="NbreLivre" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="biblio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="livreTitle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsGeneralReservation" nillable="true" type="tns:clsGeneralReservation" />
  <xs:complexType name="ArrayOfclsReservation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsReservation" nillable="true" type="tns:clsReservation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsReservation" nillable="true" type="tns:ArrayOfclsReservation" />
  <xs:complexType name="clsReservation">
    <xs:sequence>
      <xs:element minOccurs="0" name="livreTitle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsReservation" nillable="true" type="tns:clsReservation" />
</xs:schema>