BiblioLecteur/Service References/ServiceReferenceLivre/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceLivres" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceLivres_getImageEF_InputMessage">
    <wsdl:part name="parameters" element="tns:getImageEF" />
  </wsdl:message>
  <wsdl:message name="IServiceLivres_getImageEF_OutputMessage">
    <wsdl:part name="parameters" element="tns:getImageEFResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLivres_insertLivre_InputMessage">
    <wsdl:part name="parameters" element="tns:insertLivre" />
  </wsdl:message>
  <wsdl:message name="IServiceLivres_insertLivre_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertLivreResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLivres_getImage_InputMessage">
    <wsdl:part name="parameters" element="tns:getImage" />
  </wsdl:message>
  <wsdl:message name="IServiceLivres_getImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:getImageResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceLivres">
    <wsdl:operation name="getImageEF">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLivres/getImageEF" message="tns:IServiceLivres_getImageEF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLivres/getImageEFResponse" message="tns:IServiceLivres_getImageEF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertLivre">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLivres/insertLivre" message="tns:IServiceLivres_insertLivre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLivres/insertLivreResponse" message="tns:IServiceLivres_insertLivre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLivres/getImage" message="tns:IServiceLivres_getImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLivres/getImageResponse" message="tns:IServiceLivres_getImage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceLivres" type="tns:IServiceLivres">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getImageEF">
      <soap:operation soapAction="http://tempuri.org/IServiceLivres/getImageEF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertLivre">
      <soap:operation soapAction="http://tempuri.org/IServiceLivres/insertLivre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getImage">
      <soap:operation soapAction="http://tempuri.org/IServiceLivres/getImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceLivres">
    <wsdl:port name="BasicHttpBinding_IServiceLivres" binding="tns:BasicHttpBinding_IServiceLivres">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/wcflibrary/ServiceLivres/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>