BiblioLecteur/Service References/ServiceReferenceRetard/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Retards" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/wcflibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRetards_GetCountRetardsUsersAdo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountRetardsUsersAdo" />
  </wsdl:message>
  <wsdl:message name="IRetards_GetCountRetardsUsersAdo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountRetardsUsersAdoResponse" />
  </wsdl:message>
  <wsdl:message name="IRetards_GetCountRetardsUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountRetardsUsers" />
  </wsdl:message>
  <wsdl:message name="IRetards_GetCountRetardsUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountRetardsUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IRetards_GetAllRetardsUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRetardsUsers" />
  </wsdl:message>
  <wsdl:message name="IRetards_GetAllRetardsUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRetardsUsersResponse" />
  </wsdl:message>
  <wsdl:portType name="IRetards">
    <wsdl:operation name="GetCountRetardsUsersAdo">
      <wsdl:input wsaw:Action="http://tempuri.org/IRetards/GetCountRetardsUsersAdo" message="tns:IRetards_GetCountRetardsUsersAdo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRetards/GetCountRetardsUsersAdoResponse" message="tns:IRetards_GetCountRetardsUsersAdo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountRetardsUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IRetards/GetCountRetardsUsers" message="tns:IRetards_GetCountRetardsUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRetards/GetCountRetardsUsersResponse" message="tns:IRetards_GetCountRetardsUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRetardsUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IRetards/GetAllRetardsUsers" message="tns:IRetards_GetAllRetardsUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRetards/GetAllRetardsUsersResponse" message="tns:IRetards_GetAllRetardsUsers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRetards" type="tns:IRetards">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCountRetardsUsersAdo">
      <soap:operation soapAction="http://tempuri.org/IRetards/GetCountRetardsUsersAdo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountRetardsUsers">
      <soap:operation soapAction="http://tempuri.org/IRetards/GetCountRetardsUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRetardsUsers">
      <soap:operation soapAction="http://tempuri.org/IRetards/GetAllRetardsUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Retards">
    <wsdl:port name="BasicHttpBinding_IRetards" binding="tns:BasicHttpBinding_IRetards">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/wcflibrary/Retards/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>