BiblioLecteur/Service References/ServiceReferenceRetard/wcflibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/wcflibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/wcflibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfclsRetardsUsers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsRetardsUsers" nillable="true" type="tns:clsRetardsUsers" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsRetardsUsers" nillable="true" type="tns:ArrayOfclsRetardsUsers" />
  <xs:complexType name="clsRetardsUsers">
    <xs:sequence>
      <xs:element minOccurs="0" name="NbrMoisAuto" type="xs:int" />
      <xs:element minOccurs="0" name="NomLecteur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="date_emprunt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="date_retour" type="xs:dateTime" />
      <xs:element minOccurs="0" name="exemplaireID" type="xs:int" />
      <xs:element minOccurs="0" name="solde" type="xs:decimal" />
      <xs:element minOccurs="0" name="tarifEmprunt" type="xs:decimal" />
      <xs:element minOccurs="0" name="tarifParJour" type="xs:decimal" />
      <xs:element minOccurs="0" name="tarifRetard" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsRetardsUsers" nillable="true" type="tns:clsRetardsUsers" />
</xs:schema>